/* -- @author Jan Schaffland -- */

@CHARSET "ISO-8859-1";

body {
	background-image: url(bilder/bild8.jpg);
	
	}
	
 #wrapper {
	       width:900px;
	       margin: 0 auto;
	   }
	   .left {
	       display:inline-block;
	       width:700px;
	   }
	   
	   .right {
	       display:inline-block;
	       width:100px;
	   }

span { color: red;}