<?xml version="1.0" encoding="utf-8" ?>
<web-app>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>projekt.daten.IndexServlet</servlet-class>
	</servlet>
	<!--
	<servlet-mapping>
	    <servlet-name>IndexServlet</servlet-name>
	    <url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>
	 -->
	<mime-mapping>
	    <extension>css</extension>
	    <mime-type>text/css</mime-type>
	</mime-mapping>
</web-app>